/* EXPERIMENTATION ONLY WORK ON CHROME */
.select-items {
  max-height: 200px;
  overflow: scroll;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f2f5fa; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00319A;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: 0.6rem; }
