$primary: #00319A;
$secondary: #f2f5fa;
$primary-dark: #071C4A;
$border-radius: .6rem;

/* EXPERIMENTATION ONLY WORK ON CHROME */

.select-items {
  max-height: 200px;
  overflow: scroll;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $border-radius;
}